<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Souvenirs by period</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1 class="text-center" th:text="'All souvenirs manufactured from ' + ${start} + ' to ' + ${finish}"></h1>
<p><a href="/souvenirs">Return to souvenirs list</a></p>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Souvenir name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Sum</th>
    <th>Date of manufacturing</th>
    <th>Manufacturer</th>
    <th>Country</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="s : ${souvenirsByPeriod}">
    <td th:text="${s.id}"></td>
    <td><img th:if="${s.image}" th:src="@{'/images/' + ${s.image.id}}"  width="100" height="100"/></td>
    <td th:text="${s.souvenirName}"></td>
    <td th:text="${#numbers.formatDecimal(s.souvenirPrice,1,'DEFAULT',2,'COMMA')}"></td>
    <td th:text="${s.quantity}"></td>
    <td th:text="${#numbers.formatDecimal(s.souvenirPrice*s.quantity,1,'DEFAULT',2,'COMMA')}"></td>
    <td th:text="${s.dateOfManufacturing}"></td>
    <td th:text="${s.manufacturer.name}"></td>
    <td th:text="${s.manufacturer.country.name}"></td>
    <td><a th:href="@{/souvenir_edit/{id}(id=${s.id})}">edit</a></td>
    <td><a th:href="@{/souvenir_delete/{id}(id=${s.id})}">delete</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>